.button
{
    -fx-border-radius: 20;
-fx-background-color : white;
-fx-border-color: #355ECE;
-fx-text-fill:  #0C3988;
}
.button:hover
{
    -fx-background-radius: 20;
-fx-background-color : #355ECE ;
-fx-text-fill:  #FFF;
}
.button:pressed
{
    -fx-background-radius: 20;
-fx-background-color : #0C39FF ;
-fx-text-fill: #FFF;
}

.text-field
{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: white;
    -fx-border-color: #355ECE;
    -fx-text-fill:  #0C3988;
}

.text-area
{
    -fx-border-color: #355ECE;
    -fx-text-fill:  #0C3988;
}
.combo-box
{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: white;
    -fx-border-color: #355ECE;
}

.combo-box:hover
{
    -fx-background-radius: 20;
    -fx-background-color : #355ECE;
}

.combo-box:pressed
{
    -fx-background-radius: 20;
    -fx-background-color : #0C39FF ;
}

.combo-box .list-view .scroll-bar{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}
.combo-box .list-view{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #355ECE;
}
.combo-box .list-view .list-cell{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill:  #0C3988;
}
.combo-box .list-view .list-cell:hover{
    -fx-background-color: #355ECE;
    -fx-text-fill: #FFF;
}
.combo-box .list-view .list-cell:pressed{
    -fx-background-color: #0C39FF;
}
.combo-box .list-view .list-cell:selected{
    -fx-background-color: #0C39FF;
    -fx-text-fill: #FFF;
}

.scroll-pane .scroll-bar{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #282828;
}

.scroll-pane .scroll-bar .thumb{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color:  #FFF;
}

.scroll-pane .scroll-bar .thumb:hover{
    -fx-background-color:  orange;
}

.scroll-pane .scroll-bar .thumb:pressed{
    -fx-background-color:  darkorange;
}

.scroll-bar{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #282828;
}

.scroll-bar .thumb{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color:  #FFF;
}

.scroll-bar .thumb:hover{
    -fx-background-color:  #355ECE;
}

.scroll-bar .thumb:pressed{
    -fx-background-color:  #0C39FF;
}

.textDescricao{
    -fx-fill: white;
}
.textDescricao:hover{
    -fx-fill: orange;
}
.textDescricao:pressed{
    -fx-fill: darkorange;
}

.textEndereco{
    -fx-fill: white;
}
.textEndereco:hover{
    -fx-fill: orange;
}
.textEndereco:pressed{
    -fx-fill: darkorange;
}
